html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before *::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dotted #1e90ff;
  outline-offset: 3px;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: 18px;
  line-height: 1.2;
  letter-spacing: 2px;
  color: #222222;
  height: 100vh;
}

.article {
  display: flex;
}

.article-left {
  height: 100vh;
  width: 50%;
  background-image: url(../img/left-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.article__left__info {
  max-width: 285px;
  width: 100%;
}

.article__left__itle {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
  text-transform: uppercase;
}

.article__left__btn {
  display: flex;
  border: none;
  padding: 12px 24px;
  background-color: #1e90ff;
  color: #fff;
  text-transform: uppercase;
  font-style: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2px;
}

.article__left__btn::before {
  display: inline-block;
  background-image: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  content: '';
}

.article__left__btn:hover {
  opacity: 0.6;
  transition: all 0.4s ease;
}
/*  */

.article__right {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 54px;
}

.article-right-title {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
}

.article-right-line {
  width: 100%;
  background-color: #999999;
  border: none;
  height: 1px;
  margin-bottom: 24px;
}

.article__right__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.article__right__item {
  display: flex;
  align-items: center;
}

.article__right__item:not(:last-child) {
  margin-bottom: 10px;
}

.article__right__img {
  border-radius: 4px;
  width: 160px;
  height: 90px;
  object-fit: cover;
  margin-right: 16px;
}

.article__right__info {
  max-width: 307px;
  width: 100%;
}

.article__right__info-title a {
  color: #222;
  text-decoration: none;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 4px;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.article__right__info-title a:hover {
  color: #1e90ff;
}

.article__right__info-title a:active {
  opacity: 0.6;
}

.article__right__info-view {
  display: flex;
}

.article__right__info-text {
  display: flex;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
}

.article__right__info-text:not(:last-child) {
  margin-right: 24px;
}

/* soat rasmlarni olib kelaman */

.article__right__info-text::before {
  display: inline-block;
  background-image: url(../img/Vector.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  content: '';
}

/* kozni rasmini olib kelaman */

.article__right__info-text2::before {
  display: inline-block;
  background-image: url(../img/visibility_black_24dp\ 1.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  content: '';
}

.btn {
  cursor: pointer;
  width: 100%;
  border: none;
  letter-spacing: 1.2;
  background-color: #1e90ff;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  font-weight: 700;
  font-style: 14px;
  border: 1px solid transparent;
  transition: all 0.4s ease;
}

.btn:hover {
  border: 1px solid #1e90ff;
  background-color: #fff;
  color: #222222;
}